:root{
    --color-light:  #29e52d;
    --color-dark:    #d82228;
    --color-neitral: #ffff00;

    --color-shadow-light:   rgba(41, 229, 45, .4);
    --color-shadow-dark:    rgba(216, 34, 40, .4);
    --color-shadow-neitral: rgba(224, 224, 81, 0.4);
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}


.item{ 
  width: 300px;
  height: 500px;
  margin: var(--spacing-medium);
  border-radius: var(--border-radius-big);
  position: relative;
  box-shadow: var(--box-shadow-black);
  transition: var(--transition);
  cursor: pointer;


}

/* .item:hover{
    transform: scale(1.1);
} */

.item__text{
    display: block;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 20px;
    /* left: 50%;
    transform: translateX(-50%); */
   font-size: var(--font-size-subheader);
}

.item__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom center;
  border-radius: var(--border-radius-big);
}

.item__light{
     text-shadow: 0 0 5px currentColor;
    color: var(--color-light);
}
.item__dark{
   text-shadow: 0 0 5 currentColor;
    color: var(--color-dark);
}

.item__neitral{
 text-shadow: 0 0 5px  currentColor;
  color: var(--color-neitral);

}

.item__light:hover {
    box-shadow: 0 0 7px 2px var(--color-shadow-light);
}
.item__dark:hover {
    box-shadow: 0 0 7px 2px var(--color-shadow-dark);
}
.item__neitral:hover {
    box-shadow: 0 0 7px 2px var(--color-shadow-neitral);
}