:root{
        --color-white: #fff;
        --color-lightgray: #dfe2df;
        --color-black: #000;
        --color-gray:  #9c9c9c;
        --color-blue:      #6a83fb;

        --spacing-large:30px;
        --border-radius-medium:5px;

        --font-size-small: 14px;
        --font-family-main: sans-serif;
        --font-bold: 600;
        --font-size-medium: 16px;

        --transition: .4s;

        --box-shadow-white:
        0 16px 24px 2px rgba(255, 255, 255, 0.02), 
        0 6px 30px 5px rgba(255, 255, 255, 0.04), 
        0 8px 10px -5px rgba(255, 255, 255, 0.1);

}

*, ::after, ::before {
    box-sizing: border-box;
}
img {
    display: block;
}
.UiButton_button__3feaI{
   min-width: 100px;
   padding: 10px;
   border-radius: 3px;
   font-size: var(--font-size-small);
   font-family: var(--font-family-main);
   font-weight: var(--font-bold);
    background: none;
    outline: none;
    transition: var(--transition);
    cursor: pointer;
    display: block;
   
}

.UiButton_dark__2kT0w{
    border: 1px solid var(--color-white);
    color: var(--color-white);
}
.UiButton_dark__2kT0w:hover{
    background-color: var(--color-white);
    color: var(--color-black);
}

.UiButton_ligth__3cnEI{
    border: 1px solid var(--color-black);
    color: var(--color-black);
}
.UiButton_ligth__3cnEI:hover{
    background-color: var(--color-black);
    color: var(--color-white);
}

button:disabled,
.UiButton_button__3feaI:disabled:hover {
    color: var(--color-gray);
    background-color: transparent;
    border-color: var(--color-gray);
    cursor: auto;
}

.UiInput_wrapper__input__1m81V {
    --border-radius: 3px;
    --border: 3px;
    --clear-width: 35px;
}

.UiInput_wrapper__input__1m81V {
    position: relative;
    display: inline-flex;
}

.UiInput_input__3uJCe{
    min-width: 300px;
    padding: 10px 15px;
    padding-right: calc(var(--clear-width) + 15px);
    border: var(--border) solid var(--color-lightgray);
    border-radius: var(--border-radius);
    font-size: var(--font-size-medium);
    font-family: var(--font-family-main);
    outline: none;
    position: relative;
}

.UiInput_input__3uJCe:focus {
    border-color: var(--color-blue);
}

.UiInput_clear__img__rZyd9{
    position: absolute;
    top: var(--border);
    right: var(--border);
    width: var(--clear-width);
    height: calc(100% - var(--border)*2);
    object-position: center center;
    object-fit: contain;
    transition: all .5s;
    opacity: .4 ;
    cursor: pointer;
    padding: 10px;
    border: none;
    outline: none;
}
  
.UiInput_clear__disabled__1i_rx{
    opacity: .2;
}

.UiLoading_loader__m36Nr{
    width: 120px;
    height: 120px;
}

.UiLoading_shadow__1GnG7{
    -webkit-filter: drop-shadow(0 0 2px #000);
            filter: drop-shadow(0 0 2px #000);
}
.UiVideo_video__wmTPy{
    display: block;
    margin:auto;
    margin-top: var(--spacing-large);
    border-radius: var(--border-radius-medium);
    box-shadow: var(--box-shadow-white);

    
}

/*# sourceMappingURL=main.57075258.chunk.css.map*/