.link{
    display: inline-flex;
    align-items: center;
    margin-top: 15px;
    font-weight: var(--font-bold);
    color:var(--color-yellow);
    text-decoration: none;
    white-space: nowrap;

}

.icon__img{
  width: 32px;
  height: 32px;
  object-fit: cover;
  object-position: center center;
  margin-right: var(--spacing-small);
}