:root{
        --color-white: #fff;
        --color-lightgray: #dfe2df;
        --color-black: #000;
        --color-gray:  #9c9c9c;
        --color-blue:      #6a83fb;

        --spacing-large:30px;
        --border-radius-medium:5px;

        --font-size-small: 14px;
        --font-family-main: sans-serif;
        --font-bold: 600;
        --font-size-medium: 16px;

        --transition: .4s;

        --box-shadow-white:
        0 16px 24px 2px rgba(255, 255, 255, 0.02), 
        0 6px 30px 5px rgba(255, 255, 255, 0.04), 
        0 8px 10px -5px rgba(255, 255, 255, 0.1);

}

*, ::after, ::before {
    box-sizing: border-box;
}
img {
    display: block;
}