.found__block{
    width: 250px;  
    text-align: center;
    margin-top: 100px;      
}
.text{
 color: var(--color-white);  
 margin-top: var(--spacing-large);
 font-size: var(--font-size-subheader);
 text-shadow: var(--text-shadow-blue);
    
}
.img{
  width: 100%;
}